<div class="ui container">
    <div class="ui grid centered">
        <div class="one column row">
            <div class="column">
                <div class="contentDiv">
                    <h1 class="ui header centered">EAT DA BURGER</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="ui three column doubling stackable grid container">
        <div class="row">
            <div class="column">
                <div class="contentDiv">
                    <table class="ui celled striped table newburgerTable">
                        <tbody>
                            {{#each burgers}} {{#unless devoured}}
                            <tr>
                                <td class="idTableData">{{this.ID}}</td>
                                <td>{{this.burger_name}}</td>
                                <td class="devourBtn">
                                    <button burgerId="{{this.ID}}" status="{{this.devoured}}" class="devourBurger ui button fluid">Devour It!</button>
                                </td>
                            </tr>
                            {{/unless}} {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column centered">
                <div class="contentDiv">
                    <form class="ui form" action="/index" method="POST" autoComplete="off">
                        <div class="field">
                            <input id="burgerInput" type="text" name="burger" placeholder="Burger name">
                        </div>
                        <button id="submit" class="ui floated button violet centered fluid" type="submit"><i class="plus icon"></i> Add Burger</button>
                        <div class="ui error message"></div>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="contentDiv">
                    <table class="ui celled striped table devouredTable">
                        <tbody>
                            {{#each burgers}} {{#if devoured}}
                            <tr>
                                <td class="idTableData">{{this.ID}}</td>
                                <td><i class="times icon"></i>{{ this.burger_name}}</td>
                            </tr>
                            {{/if}} {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>